.deals__container {
    padding: 10px 25px;
    margin-top: 15vh;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.deals__header h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    padding: 10px 25px;
    margin-bottom: 40px;
}

.deals__wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    /* grid-template-columns: repeat(4, 1fr);
    display: grid; */
}

.deals__cell {
    width: 15rem;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

.deals__cell:hover {
    box-shadow: 0 8px 12px 0 rgba(30, 64, 175);
    transform: scale(1.1);
}

.dealsCell__img {
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 175px;
    object-fit: cover;
}

.dealsCell__content {
    padding: 10px 10px;
}

.dealsCell__content span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deals__beds {
    font-size: 15px;
    align-items: center;
}

.deals__baths {
    font-size: 15px;
    align-items: center;
}

.deals__price {
    font-size: 20px;
    padding: 5px 0;
    font-weight: 800;
}

.deals__addy {
    font-size: 18px;
    align-items: center;
}

.currentColor {
    color: rgb(29, 78, 216) !important;
}

b {
    color: rgb(29, 78, 216) !important;
}

.dealsContainer__maps {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.dealsContainer__maps:hover {
    box-shadow: 0 8px 12px 0 rgba(30, 64, 175);
}